<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col bg-blue-300">
  <div class="w-full flex justify-center" id="playarea">
    <div class = "flex flex-col bg-blue-200">
      <h1 class = "text-center text-4xl font-bold text-black-400"> Crossword </h1>
      <div class = "flex rounded bg-blue-300 border border-gray-400">
        <div class = "w-full">
          <p class = "font-bold">Time left:</p>
          <div id = "timer"></div>
        </div>
        <div class = "flex" id = "result"></div>
      </div>
      
      <div class = "flex bg-blue-400 border border-solid border-gray-400 rounded ">
        <button class="w-full relative bg-blue-400 py-2 px-4" onclick="checkAnswer()">Check Answers</button>   
      </div>
      <div class="py-2 w-100"id="crossword-hints"> </div>
    </div>
    <div id="crossword-grid"> </div>
  </div>
</div>

<meta id="my-data" data-name="{{data}}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='crossword.js') }}"></script>
<script>
  var data = $('#my-data').data().name;
  var dataArray = eval(data);
  drawCrossword(dataArray);
</script>
{% endblock %}