<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Review</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-800 flex justify-center items-center h-screen">
    {% extends 'base.html' %}
    {% block content %}
    {% set score_int = score | int %}
    <div class="text-white text-center mt-4">
        {% if gameWon %}
        <h1 class="font-medium text-4xl mb-4">You win</h1>
        {% else %}
        <h1 class="text-4xl mb-4">Times up!</h1>
        {% endif %}

        <div class="mb-4 justify-center items-center">
            <p class="text-xl">
                Your score was: {{ score }}
            </p>

            <p class="text-xl mt-4">Points added: {{ score_int * 10 }}</p>
        </div> 
        <div class="mb-4 space-x-0 md:space-x-2 md:mb-8">
            <a href="{{ url_for('main.profile') }}" class="inline-flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-purple-400 rounded-2xl sm:w-auto sm:mb-0">
                Return to Profile
                <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
    {% endblock %}
  </body>
</html>
